<!--
 * @Description: 
 * @Author: Henry Sun
 * @Date: 2019-08-07 14:11:06
 * @LastEditors: Henry Sun
 * @LastEditTime: 2019-08-15 20:35:06
 -->
{% extends 'base.html' %}
{% load static %}
{% block title %}虚机总表{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        虚机总表
        <small>assets list</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">虚机总表</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="col-xs-12">
  
          <div class="box">
          <div class="box-header">
            <h3 class="box-title">虚机总表</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="assets_vm_table" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>序号</th>
                <th>资产名称</th>
                <th>IP</th>
                <th>UUID</th>
                <th>业务线</th>
                <th>电源状态</th>
                <th>网卡状态</th>
                <th>Tools状态</th>
                <th>机房</th>
                <th>标签</th>
                <th>更新时间</th>
              </tr>
              </thead>
              <tbody>

                {% for vm in allvm.qs %}

                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <!-- {% if asset.asset_type == 'server' %}
                            <td><a href="{% url 'assets:detail' asset.id %}">{{ asset.name }}</a></td>
                        {% else %}
                            <td>{{ asset.name }}</td>
                        {% endif %} -->

                        <td>{{ vm.vm_name }}</td>
                        <td>{{ vm.vm_ip }}</td>
                        <td><a href="{% url 'assets:detail' vm.vm_instance_UUID %}">{{ vm.vm_instance_UUID }}</a></td>
                        <td>{{ vm.department }}</td>
                        {% if vm.powerstate == "On" %}
                          <td><label class="label label-success">{{ vm.powerstate }}</label></td>
                        {% elif vm.powerstate == "Off" %}
                          <td><label class="label label-danger">{{ vm.powerstate }}</label></td>
                        {% endif %}
                        {% if vm.NICstate == "On" %}
                          <td><label class="label label-success">{{ vm.NICstate }}</label></td>
                        {% elif vm.NICstate == "Unused" %}
                          <td><label class="label label-warning">{{ vm.NICstate }}</label></td>
                        {% elif vm.NICstate == "Off" %}
                          <td><label class="label label-danger">{{ vm.NICstate }}</label></td>
                        {% endif %}
                        {% if vm.vm_tools == "On" %}
                          <td><label class="label label-success">{{ vm.vm_tools }}</label></td>
                        {% elif vm.vm_tools == "Off" %}
                          <td><label class="label label-warning">{{ vm.vm_tools }}</label></td>
                        {% endif %}


                        <!-- <td><label class="label label-default">{{ vm.get_status_display }}</label></td> -->
                        <!-- <td><label class="label label-info">{{ vm.get_status_display }}</label></td> -->

                        

                        <!-- <td>{{ vm.create_date|date:"Y/m/d" }}</td> -->

                        <td>{{ vm.datacenter |default:"-" }}</td>
                        <td>
                          {% for tag in vm.tags.all %}
                            <label class="label label-primary">{{ tag.name }}</label>
                            {% empty %}
                              -
                            {% endfor %}
                        </td> 
                        <td>{{ vm.m_time |date:"Y/m/d" }}</td> 
                    </tr>

                {% empty %}
                <tr>没有数据</tr>
                {% endfor %} 

                </tbody>
                <tfoot>
                    <tr>
                    <th>序号</th>
                    <th>资产名称</th>
                    <th>IP</th>
                    <th>UUID</th>
                    <th>业务线</th>
                    <th>电源状态</th>
                    <th>网卡状态</th>
                    <th>Tools状态</th>
                    <th>机房</th>
                    <th>标签</th>
                    <th>更新时间</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>

$(function () {
        $('#assets_vm_table').DataTable({
          "paging": true,       // 允许分页
          "searching": true,    // 允许内容搜索
          "ordering": true,     // 允许排序
          "autoWidth": true, // 固定宽度
          "lengthChange": true,//是否允许用户自定义显示数量
          // "bPaginate": true, //翻页功能
          // "bFilter": false, //列筛序功能
          "Info": true,//页脚信息
          "bProcessing": true, //是否显示加载
          "oLanguage": {//语言设置
                "sProcessing": "处理中...",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(获取 _MAX_ 项结果)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLengthMenu": "显示 _MENU_ 记录",
                "sLoadingRecords": "正在加载数据-请等待...",
                "sInfoThousands": ",",
            },
        });
      });

</script>

{% endblock %}